.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Center the container horizontally */
    margin-top: 60px; /* Ensure it's below the navbar */
    margin-bottom: 20px; /* Add space at the bottom */
    flex-grow: 1; /* Grow to fill the remaining vertical space */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.content {
    text-align: center;
}

footer {
    text-align: center;
    /*background-color: #f5f5f5;*/
    padding: 10px;
    margin-top: auto; /* Ensure footer stays at the bottom */
}

/* Form */
.radio_button_routes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 16px;
    border: 2px solid black;
    border-radius: 8px;
}

.route_label {
    margin-right: 20px;
    font-size: 16px;
}

.route_option {
    padding: 5px;
    font-size: 12px;
    display: flex
    justify-content: center;
}

.submit_button {
    font-size: 12px;
    margin-right: 20px;
}

/* Map */
.map_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}


/* Distance */
.distance_container {
    margin: 20px;
}

.distance_container h2 {
    margin-top: 40px;
}

.distance_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.distance_table th, .distance_table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.distance_table th {
    background-color: #1E90FF; /* Dodger Blue */
    color: white;
}

.distance_table tr:nth-child(even) {
    background-color: #E0F7FA; /* Light Cyan */
}

.distance_table tr:nth-child(odd) {
    background-color: #FFFFFF; /* White */
}

.distance_table tr:hover {
    background-color: #ADD8E6; /* Light Blue */
}


/* Trip Statistics */
.trip_statistics_container {
    margin: 20px;
}

.trip_statistics_container h2 {
    margin-top: 40px;
}

.trip_statistics_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trip_statistics_table th, .trip_statistics_table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.trip_statistics_table th {
    background-color: #28a745; /* Green */
    color: white;
}

.trip_statistics_table tr:nth-child(even) {
    background-color: #d4edda; /* Light Green */
}

.trip_statistics_table tr:nth-child(odd) {
    background-color: #ffffff; /* White */
}

.trip_statistics_table tr:hover {
    background-color: #c3e6cb; /* Light Green Hover */
}

